<div class="w-100 paddin-response bg-dark shadow-sm p-3 d-relative">
  <app-loadingProgressDynamic
    *ngIf="loadingProgress === 'step changed'"
  ></app-loadingProgressDynamic>
  <div>
    <img
      [src]="'../../../../assets/img/img-newpost/s' + pageOfForm + '.jpg'"
      class="img-newpost"
    />
  </div>
  <form [formGroup]="formNewPost" class="w-100">
    <ng-container [ngSwitch]="true">
      <div
        class="w-100"
        class="animation-fadein"
        *ngSwitchCase="pageOfForm === 1 || pageOfForm === 7"
      >
        <mat-select
          (selectionChange)="lockStep = true"
          formControlName="typeOfPost"
        >
          <mat-option value="ask" selected
            >میخواهم یک سوال ایجاد کنم</mat-option
          >
          <mat-option value="post"
            >میخواهم تجربه ای را به اشتراک بگذارم</mat-option
          >
        </mat-select>
      </div>
      <div
        class="animation-fadein"
        *ngSwitchCase="pageOfForm === 2 || pageOfForm === 7"
      >
        <mat-select (selectionChange)="lockStep = true" formControlName="group">
          <mat-option
            *ngFor="let item of groupCats"
            selected
            [value]="item.id"
            >{{ item.title }}</mat-option
          >
        </mat-select>
      </div>
      <div
        class="animation-fadein"
        *ngSwitchCase="pageOfForm === 3 || pageOfForm === 7"
      >
        <input
          #title
          id="title"
          (keyup)="checkInputLength(this)"
          matInput
          placeholder="موضوع"
          formControlName="title"
        />
      </div>
      <div
        class="animation-fadein"
        *ngSwitchCase="pageOfForm === 4 || pageOfForm === 7"
      >
        <div>
          <input
            placeholder="شاخه های مرتبط"
            matInput
            formControlName="category"
          />
        </div>
        <div class="d-relative parent-result bg-dark">
          <div class="d-result-absolute bg-dark">
            <div
              class="p-2 cursor-pointer links bg-dark"
              *ngFor="let item of categories"
              (click)="makeCategory(item.name)"
            >
              {{ item.name }}
            </div>
          </div>
        </div>

        <div class="p-2">
          <ng-container *ngFor="let item of selectedCategorySet">
            <span
              *ngIf="item !== ''"
              (click)="removeFromCategory(item)"
              class="text-dark p-1 m-1 bg-light rounded links"
            >
              {{ item }}
            </span>
          </ng-container>
        </div>
      </div>

      <div
        class="animation-fadein d-relative"
        *ngSwitchCase="pageOfForm === 5 || pageOfForm === 7"
      >
        <h3 class="p-1 mb-3 text-muted">توضیحات</h3>
        <angular-editor
          #content
          id="content"
          formControlName="content"
          class="editors"
          name="content"
          (keyup)="checkContent()"
        ></angular-editor>
      </div>
      <div
        style="flex-basis: 50%"
        class="animation-fadein"
        *ngSwitchCase="pageOfForm === 6 || pageOfForm === 7"
      >
        <span class="text-light text-title">
          آیامیخواهید تصویری اضافه کنید؟
        </span>
        <span>
          <button
            class="bg-success-custom text-light mr-1 ml-1 text-title"
            mat-raised-button
            (click)="usePicture = true"
          >
            بله
          </button>
        </span>
        <span>
          <button
            class="bg-light-custom mr-1 ml-1 text-dark text-title"
            mat-raised-button
            (click)="pageOfForm = pageOfForm + 1; lockStep = false"
          >
            خیر
          </button>
        </span>
        <div>
          <button
            class="m-4 text-xlarge"
            *ngIf="usePicture"
            mat-raised-button
            (click)="selectFile()"
          >
            انتخاب تصویر
          </button>

          <input
            *ngIf="usePicture"
            formControlName="file"
            id="file"
            #file
            type="file"
            class="form-control m-3 file"
            (change)="onFileChange($event)"
          />
        </div>
      </div>
      <div
        class="text-center w-100 m-3 p-2 animation-fadein"
        *ngSwitchCase="pageOfForm === 7"
      >
        <button
          class="w-50 p-2 m-1 bg-black text-light"
          mat-raised-button
          (click)="submitFile()"
        >
          ارسال نهایی
        </button>
      </div>
    </ng-container>
  </form>
  <div class="">
    <ng-container *ngTemplateOutlet="previousStep"></ng-container>
  </div>
</div>

<ng-template #previousStep>
  <div class="pt-4 mt-4 text-left w-100" *ngIf="pageOfForm !== 6">
    <div class="mb-4" style="text-align: left !important; flex-basis: 50%">
      <button
        *ngIf="
          (pageOfForm < 7 && lockStep) ||
          pageOfForm === 1 ||
          pageOfForm === 2 ||
          pageOfForm === 6
        "
        class="bg-success-custom text-light"
        mat-raised-button
        (click)="pageNext()"
      >
        مرحله بعد
      </button>
    </div>
    <div style="text-align: left !important">
      <button
        *ngIf="pageOfForm > 1 && pageOfForm < 7"
        mat-raised-button
        (click)="pagePrev()"
      >
        مرحله قبل
      </button>
    </div>
  </div>
</ng-template>
