.search-input{
    background-color:var(--COLOR-DARK);
    color: var(--COLOR-LIGHT);
    height: 4vh;
    padding: 1vh;
    width: 50% ;
}
.div-search-result{
    position: absolute;
    left: 0;
    top:0;
    z-index: 10;
    width: 100%;
}
.border-light{
    border: solid 1px #4e4c4c !important;
}