@media only screen and (min-width: 1200px) {
  .main > div:first-child {
    flex-basis: 80%;
  }
  .main > div:last-child {
    flex-basis: 20%;
    text-align: right;
  }
}

@media only screen and (max-width: 1200px) {
  .main > div:first-child {
    flex-basis: 100%;
  }
  .main > div:last-child {
    text-align: right;
  }
}
.main > div:first-child {
  flex-basis: 80%;
}
.main > div:last-child {
  flex-basis: 20%;
}
.main-frame{
  height: 100% !important;
  min-height: 100vh !important;
  background-color: var(--COLOR-DARKER) !important;
}
.menu-responsive {
  position: fixed ;
  background-color: rgb(31, 30, 30) !important;
  width: 100%;
  height: 100%;
  z-index: 9999999 !important;
  background-color: rgba(14, 7, 78, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  left: 0;
  top: 0;
}

.inline{
    display: inline-flex;
}
.image-small{
  width: 20vh;
} 
.img-center{
  margin: auto;
}
.item-footer{
  position: static;
  margin-top: 5vh;
  bottom: 0;
  right: 0;
} 
.item-footer>p {
  color: var(--COLOR-MUTED);
  cursor: pointer;
  font-size: 1.5vh;
}
.item-footer>p:hover {
  animation: color-change 0.2s forwards;
  cursor: pointer;
}
.border-light{
  border-color: var(--COLOR-DARK) !important;
  border-width: 1px !important;
}