.text-small{
    font-size: 1.4vh;
}
*{
    font-family: yekan;
}
.message-frames{
    text-align: right !important;
    justify-content: right;
    justify-items: right; 
}
.message-frames>p>span{
    color: white;
    padding: 0.9vh;
}
.image-icon{
    width: 3vh;
    height: 3vh;
    display: inline;
}
.text-small{
    font-size: 1.3vh !important;
}