<ng-container [ngSwitch]="componentSetting?.variables?.pathRouteOfProfile">
  <div class="d-relative">
    <app-loadingProgressDynamic
      *ngIf="loadingProgressDynamicVar === 'change profile setting'"
    ></app-loadingProgressDynamic>
    <ng-container *ngSwitchCase="'profile'">
      <ng-container *ngTemplateOutlet="profile"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'message'">
      <ng-container *ngTemplateOutlet="messages"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'findOthers'">
      <ng-container *ngTemplateOutlet="findOthers"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'myPosts'">
      <ng-container *ngTemplateOutlet="myPosts"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'interrests'">
      <ng-container *ngTemplateOutlet="interrests"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'myFollows'">
      <ng-container *ngTemplateOutlet="myFollows"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'wishlist'">
      <ng-container *ngTemplateOutlet="wishlist"></ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #profile>
  <div class="w-100 bg-dark">
    <div class="w-100 row flex-row-reverse">
      <div class="col-md-3 p-3 d-relative">
        <app-loadingProgressDynamic
          *ngIf="loadingProgressDynamicVar === 'change profile picture'"
        ></app-loadingProgressDynamic>
        <img
          class="w-100 rounded"
          [src]="
            'https://burjcrown.com/drm/experience/users/' +
            userLogined.email +
            '/user.jpg' +
            '?ts=' +
            timestap
          "
        />
        <div class="p-1 m-1">
          <button
            class="pt-1 pb-1 m-1 bg-black text-light pr-4 pl-4"
            mat-raised-button
            (click)="selectFile()"
          >
            تغییر تصویر
          </button>
          <input
            #fileImageProfile
            id="fileImageProfile"
            type="file"
            class="form-control display-none"
            (change)="onFileChange($event)"
          />
        </div>
      </div>
      <div class="col-md-9 text-right p-3 info-rows">
        <div class="w-100 text-left p-2 cursor-pointer links">
          <span (click)="openDialogEditProfile()"> ویرایش </span>
        </div>
        <div>
          <span class="text-light text-small">نام </span>
          <span class="text-light text-small">{{ user?.profile?.name }} </span>
        </div>
        <div>
          <span class="text-light text-small">شهرت </span>
          <span class="text-light text-small"
            >{{ user?.profile?.family }}
          </span>
        </div>
        <div>
          <span class="text-light text-small">{{ user?.profile?.email }} </span>
          <span class="text-light text-small">ایمیل </span>
        </div>
        <div>
          <span class="text-light text-small">شغل </span>
          <span class="text-light text-small">{{ user?.profile?.job }} </span>
        </div>
        <div>
          <span class="text-light text-small"
            >{{ user?.profile?.birthdate }}
          </span>
          <span class="text-light text-small">شروع فعالیت </span>
        </div>
        <div>
          <span class="text-light text-small">22 </span>
          <span class="text-light text-small">تعداد پست </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #myPosts>
  <app-myposts [posts]="user.post"></app-myposts>
</ng-template>
<ng-template #messages>
  <app-message></app-message>
</ng-template>

<ng-template #interrests>
  <div>
    <app-user-interrests [deviceIsPc]="deviceIsPc"></app-user-interrests>
  </div>
</ng-template>

<ng-template #findOthers>
  <div>findOthers</div>
</ng-template>

<ng-template #myFollows>
  <div class="text-center w-100"><app-follows></app-follows></div>
</ng-template>
<ng-template #wishlist>
  <div class="text-center w-100"><app-wishlist></app-wishlist></div>
</ng-template>
